{% load static %} 
<!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile user-select-none">
          <a class="nav-link">
            <div class="profile-image">
              <div class="dot-indicator bg-success"></div>
            </div>
            <div class="text-wrapper">
              <p class="profile-name">{{ user }}</p>
              <p class="designation">Администратор</p>
            </div>
            <div class="icon-container">
              <i class="icon-support"></i>
            </div>
          </a>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Панель</span>
        </li>
        <li class="nav-item" id="main-panel">
          <a class="nav-link" href="{% url 'admin_panel' %}">
            <span class="menu-title">Панель-Управление</span>
            <i class="icon-screen-desktop menu-icon"></i>
          </a>
        </li>
        <li class="nav-item nav-category"><span class="nav-link">Управление контентом</span></li>
     
     
        <li class="nav-item" id="hotnews-panel">
          <a class="nav-link" data-toggle="collapse" href="#hotnews" aria-expanded="{% if expand_hotnews %}true{% else %}false{% endif %}" aria-controls="hotnews">
            <span class="menu-title">Главные события</span>
            <i class="icon-fire menu-icon"></i>
          </a>
          <div class="collapse {% if expand_hotnews %}show{% endif %}" id="hotnews">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_hotnews_gallery %}active{% endif %}" href="{% url 'hotnewsgallery_all' %}">Галерея</a></li>
              <li class="nav-item"> <a class="nav-link {% if active_hotnews_image %}active{% endif %}" href="{% url 'hotnewsimage_all' %}">Фотографии</a></li>
              <li class="nav-item"> <a class="nav-link {% if active_hotnews %}active{% endif %}" href="{% url 'hotnews_all' %}">Статьи</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item" id="news-panel">
          <a class="nav-link" data-toggle="collapse" href="#news" aria-expanded="{% if expand_news %}true{% else %}false{% endif %}" aria-controls="news">
            <span class="menu-title">Новости</span>
            <i class="icon-book-open menu-icon"></i>
          </a>
          <div class="collapse {% if expand_news %}show{% endif %}" id="news">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_news_gallery %}active{% endif %}" href="{% url 'newsgallery_all' %}">Галерея</a></li>
              <li class="nav-item"> <a class="nav-link {% if active_news_image %}active{% endif %}" href="{% url 'newsimage_all' %}">Фотографии</a></li>
              <li class="nav-item"> <a class="nav-link {% if active_news %}active{% endif %}" href="{% url 'news_all' %}">Статьи</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item" id="projects-panel">
          <a class="nav-link" data-toggle="collapse" href="#projects" aria-expanded="{% if expand_projects %}true{% else %}false{% endif %}" aria-controls="projects">
            <span class="menu-title">Проекты</span>
            <i class="icon-layers menu-icon"></i>
          </a>
          <div class="collapse{% if expand_projects %}show{% endif %}" id="projects">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_project_gallery %}active{% endif %}" href="{% url 'projectgallery_all' %}">Галерея</a></li>
              <li class="nav-item"> <a class="nav-link {% if active_project_image %}active{% endif %}" href="{% url 'projectimage_all' %}">Фотографии</a></li>
              <li class="nav-item"> <a class="nav-link {% if active_projects %}active{% endif %}" href="{% url 'projects_all' %}">Проекты</a></li>
            </ul>
          </div>
        </li>
        
        <li class="nav-item" id="contests-panel">
          <a class="nav-link" data-toggle="collapse" href="#contests" aria-expanded="{% if expand_contests %}true{% else %}false{% endif %}" aria-controls="contests">
            <span class="menu-title">Конкурсы</span>
            <i class="icon-chart menu-icon"></i>
          </a>
          <div class="collapse{% if expand_contests %}show{% endif %}" id="contests">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_contests %}active{% endif %}" href="{% url 'contests_all' %}">Все Конкурсы</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item" id="vacancies-panel">
          <a class="nav-link" data-toggle="collapse" href="#vacanciese" aria-expanded="{% if expand_vacancies %}true{% else %}false{% endif %}" aria-controls="vacanciese">
            <span class="menu-title">Вакансии</span>
            <i class="icon-grid menu-icon"></i>
          </a>
          <div class="collapse{% if expand_vacancies %}show{% endif %}" id="vacanciese">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_vacancies %}active{% endif %}" href="{% url 'vacancies_all' %}">Все вакансии</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item" id="interviews-panel">
          <a class="nav-link" data-toggle="collapse" href="#interviews" aria-expanded="{% if expand_interviews %}true{% else %}false{% endif %}" aria-controls="interviews">
            <span class="menu-title">Интервью</span>
            <i class="icon-link menu-icon"></i>
          </a>
          <div class="collapse {% if expand_interviews %}show{% endif %}" id="interviews">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_interviews %}active{% endif %}" href="{% url 'interviews_all' %}">Все Интервью</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item" id="reports-panel">
          <a class="nav-link" data-toggle="collapse" href="#reports" aria-expanded="{% if expand_reports %}true{% else %}false{% endif %}" aria-controls="reports">
            <span class="menu-title">Отчеты</span>
            <i class="icon-pie-chart menu-icon"></i>
          </a>
          <div class="collapse {% if expand_reports %}show{% endif %}" id="reports">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link {% if active_reports %}active{% endif %}" href="{% url 'reports_all' %}">Все Отчеты</a></li>
            </ul>
          </div>
        </li>
        
        <li class="nav-item nav-category"><span class="nav-link">Руководство</span></li>
        <li class="nav-item" id="management-panel">
          <a href="{% url 'management_all' %}" class="nav-link {% if active_management %}active{% endif %}">
            <span class="menu-title">Персоналы</span>
            <i class="icon-people menu-icon"></i>
          </a>
        </li>
        <li class="nav-item pro-upgrade">
          <span class="nav-link">
            <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="{% url 'index' %} " target="_blank"> <i class="icon-badge mx-2"></i> Открыть Сайт</a>
          </span>
        </li>
      </ul>
    </nav>