Нужные данные для заполнение сайта.docx
Структура сайта ОАО.docx
Industry.mdf
my_env
app_blog/app_blog/settings.py
app_blog/app_blog/__pycache__/__init__.cpython-310.pyc
app_blog/app_blog/__pycache__/settings.cpython-310.pyc
app_blog/app_blog/__pycache__/urls.cpython-310.pyc
app_blog/app_blog/__pycache__/wsgi.cpython-310.pyc
app_blog/main/__pycache__/__init__.cpython-310.pyc
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/apps.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/main/migrations/__pycache__/__init__.cpython-310.pyc
app_blog/main/migrations/__pycache__/0001_initial.cpython-310.pyc
app_blog/main/migrations/__pycache__/0002_alter_contests_title_alter_gallerynews_name_and_more.cpython-310.pyc
app_blog/static/client/img/team/3d86ccb9-416d-47b5-b298-a13913c407a6__president.jpeg
app_blog/static/client/img/team/7b8cdc83-cffc-4f26-b59f-d63c7ce5939a__team-2.jpg
app_blog/static/client/img/team/376ad683-c7c8-408a-bf90-ef64bf159a0e__team-5.jpg
app_blog/static/client/img/team/a4e6eece-913b-4848-8437-1489fe071d36__team-4.jpeg
app_blog/static/client/img/team/c4f93eb2-62c1-496e-8389-f4fd39811fe5__president.jpeg
app_blog/static/client/img/team/c2921e4a-3380-4408-b013-f0aded2485e6__president.jpeg
app_blog/static/client/img/team/fd8d7374-0069-4c09-ba85-5b7214ba46f2__team-3.jpeg
app_blog/db.sqlite3
app_blog/static/client/docs/contest/70f2259e-251b-41bf-84b6-5d97c0c844dc__Third-Party-Notices.pdf
app_blog/static/client/docs/contest/c008d081-59bf-4835-8bd3-712756baabf2__Third-Party-Notices.pdf
app_blog/static/client/docs/contest/ea7c78eb-19b9-499b-a92a-621db403ba02__Third-Party-Notices.pdf
app_blog/app_blog/__pycache__/settings.cpython-310.pyc
app_blog/main/__pycache__/
app_blog/main/migrations
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
.gitignore
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/static/client/img/hot_news/67af2ecc-cb5e-4fdb-aa3d-686f9df7942b__фото.webp
app_blog/static/client/img/hot_news/90b438ee-660b-4ac4-b172-2f567a587aaa__ezgif.com-gif-maker.jpg
app_blog/static/client/img/hot_news/a039f23e-67ec-4d4b-a45b-b7f5c0ae2c15__282798.jpeg
app_blog/static/client/img/hot_news/addff196-7af2-436c-8b6a-d5dda70119b4__фото.webp
app_blog/static/client/img/hot_news/ca1468a9-8150-4071-a6c7-ea6d09461300__photo.jpg
app_blog/static/client/img/team/0c8505d7-85ed-4374-ae41-f0ba410c84ed__profile.jpg
app_blog/static/client/img/team/4e155472-592c-486f-98e5-b61a022eeac3__profile.jpg
app_blog/static/client/img/team/11f7ee07-3fd1-4d9b-a479-615677e7d4cd__profile.jpg
app_blog/static/client/img/team/73d454f6-dc5c-4e43-b8d6-ce6eece099af__profile.jpg
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
.gitignore
app_blog/app_blog/__pycache__/settings.cpython-310.pyc
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/static/client/docs/reports/4518ae4a-b88a-467a-bf05-b146aacacdd8__JavaEE8_Platform_Spec_F_XFKxDS3.pdf
app_blog/static/client/docs/reports/be6246c9-03e1-4341-9549-d47abff5c9f0__JavaEE8_Platform_Spec_F_HuJtosd.pdf
app_blog/static/client/docs/reports/c2f4f273-919f-4ba9-8fc2-9f8b14d14ef6__Эрнисов_Айдар.pdf
.gitignore
app_blog/app_blog/settings.py
app_blog/app_blog/__pycache__/settings.cpython-310.pyc
app_blog/app_blog/__pycache__/urls.cpython-310.pyc
app_blog/app_blog/__pycache__/wsgi.cpython-310.pyc
app_blog/main/__pycache__/__init__.cpython-310.pyc
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/apps.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/main/migrations/__init__.py
app_blog/main/migrations/0001_initial.py
app_blog/db.sqlite3
app_blog/app_blog/__pycache__/__init__.cpython-310.pyc
app_blog/app_blog/__pycache__/settings.cpython-310.pyc
app_blog/app_blog/__pycache__/urls.cpython-310.pyc
app_blog/app_blog/__pycache__/wsgi.cpython-310.pyc
app_blog/main/__pycache__/__init__.cpython-310.pyc
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/apps.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/static/client/js/main.js
