Нужные данные для заполнение сайта.docx
Структура сайта ОАО.docx
Industry.mdf
my_env
/app_blog/app_blog/settings.py
app_blog/app_blog/settings.py
app_blog/app_blog/__pycache__/__init__.cpython-310.pyc
app_blog/app_blog/__pycache__/settings.cpython-310.pyc
app_blog/app_blog/__pycache__/urls.cpython-310.pyc
app_blog/app_blog/__pycache__/wsgi.cpython-310.pyc
app_blog/main/__pycache__/__init__.cpython-310.pyc
app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/apps.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
app_blog/main/migrations/__pycache__/__init__.cpython-310.pyc
app_blog/main/migrations/__pycache__/0001_initial.cpython-310.pyc
app_blog/main/migrations/__pycache__/0002_alter_contests_title_alter_gallerynews_name_and_more.cpython-310.pyc
app_blog/static/client/img/team/3d86ccb9-416d-47b5-b298-a13913c407a6__president.jpeg
app_blog/static/client/img/team/7b8cdc83-cffc-4f26-b59f-d63c7ce5939a__team-2.jpg
app_blog/static/client/img/team/376ad683-c7c8-408a-bf90-ef64bf159a0e__team-5.jpg
app_blog/static/client/img/team/a4e6eece-913b-4848-8437-1489fe071d36__team-4.jpeg
app_blog/static/client/img/team/c4f93eb2-62c1-496e-8389-f4fd39811fe5__president.jpeg
app_blog/static/client/img/team/c2921e4a-3380-4408-b013-f0aded2485e6__president.jpeg
app_blog/static/client/img/team/fd8d7374-0069-4c09-ba85-5b7214ba46f2__team-3.jpeg
app_blog/db.sqlite3
app_blog/static/client/docs/contest/70f2259e-251b-41bf-84b6-5d97c0c844dc__Third-Party-Notices.pdf
app_blog/static/client/docs/contest/c008d081-59bf-4835-8bd3-712756baabf2__Third-Party-Notices.pdf
app_blog/static/client/docs/contest/ea7c78eb-19b9-499b-a92a-621db403ba02__Third-Party-Notices.pdf
app_blog/app_blog/__pycache__/settings.cpython-310.pyc

app_blog/main/__pycache__/admin.cpython-310.pyc
app_blog/main/__pycache__/forms.cpython-310.pyc
app_blog/main/__pycache__/models.cpython-310.pyc
app_blog/main/__pycache__/urls.cpython-310.pyc
app_blog/main/__pycache__/views.cpython-310.pyc
