{% load i18n %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">


          <div class="col-lg-2 col-md-6 footer-links">
            <h4>{% translate "О нас" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">{% translate "Главная" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_company'%}#about">{% translate "О нас" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_company' %}#team">{% translate "Руководство" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_company' %}#activity">{% translate "Блоки" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_company' %}#clients">{% translate "Наши партнеры" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_company' %}#npa">{% translate "Нормативно-правовая база" %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% translate "Инвесторам и партнерам" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'invest' %}">{% translate "Инвестиционный кейс" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'strategy' %}">{% translate "Стратегия развития" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'projects' %}">{% translate "Проекты и презентации" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'reports' %}">{% translate "Отчеты и результаты" %}</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% translate "Пресс-центр" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'news' %}">{% translate "Пресс-релизы" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'interviews' %}">{% translate "Интервью" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'gallery' %}">{% translate "Фотогалерея" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'hot_news' %}">{% translate "Брифинг" %}</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% translate "Закупки" %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contests' %}">{% translate "Конкурсы" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'vacancies' %}">{% translate "Вакансии" %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'sitemap' %}">{% translate "Карта сайта" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>{% translate "ОАО Кыргызиндустрия" %}</span></strong>. {% translate "Все права защищены" %}
      </div>
      <div class="credits">
        {% translate "Разработчики" %} <a href="mailto:ajzigit24@gmail.com">AKA {{Y}}</a>
      </div>
    </div>
  </footer><!-- End Footer -->
