{% load i18n %}
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="/">Kyrgyzindustry</a></h1>
      <small>{% translate "Открытое Акционерное Общество" %}</small>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>


    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="{% url 'about_company' %}"><span>{% translate "О нас" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'about_company' %}#about">{% translate "Об обществе" %}</a></li>
            <li><a href="{% url 'about_company' %}#team">{% translate "Руководство" %}</a></li>
            <li><a href="{% url 'about_company'%}#activity">{% translate "Блоки" %}</a></li>
            <li><a href="#clients">{% translate "Наши пратнеры" %}</a></li>
            <li><a href="{% url 'about_company' %}#npa">{% translate "Нормативно-правовая база" %}</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>{% translate "Инвесторам и партнерам" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'invest'%}">{% translate "Инвестиционный кейс" %}</a></li>
            <li><a href="{% url 'strategy' %}">{% translate "Стратегия развития" %}</a></li>
            <li><a href="{% url 'projects' %}">{% translate "Проекты и презентации" %}</a></li>
            <li><a href="{% url 'reports' %}">{% translate "Отчеты и результаты" %}</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>{% translate "Пресс-центр" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'news' %}">{% translate "Пресс-релизы (новости)" %}</a></li>
            <li><a href="{% url 'interviews' %}">{% translate "Интервью" %}</a></li>
            <li><a href="{% url 'gallery' %}">{% translate "Фотогалерея" %}</a></li>
            <li><a href="#about">{% translate "Брифинг" %}</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>{% translate "Закупки" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'index' %}#contests">{% translate "Конкурсы" %}</a></li>
            <li><a href="{% url 'contests' %}">{% translate "Архив конкурсов" %}</a></li>
            <li><a href="{% url 'vacancies' %}">{% translate "Вакансии" %}</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">{% translate "Контакты" %}</a></li>
        <li><a class="getstarted scrollto" href="{% url 'feedback' %}">{% translate "Свяжитесь с нами" %}</a></li>
        <li class="dropdown"><a href="#"><span></span> <i class="ri-global-line"></i></a>
          <ul>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
            <li><a href="/{{lang.code}}/">{{lang.name_local}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>

