{% load i18n %}
<!-- ======= Top Bar ======= -->
<section id="topbar" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-end">
    
    <div class="social-links d-none d-md-flex">
      <a href="#" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/KyrgyzIndustry" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/kyrgyzindustry" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCnHPUWY4Q-bPm2EMt-99-9g" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</section>

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="{% url 'index' %}">{% translate "Кыргыз" %}<span>{% translate "индустрия" %}</span></a></h1>
      <small>{% translate "Открытое Акционерное Общество" %}</small>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>


    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="{% url 'about_company' %}"><span>{% translate "О нас" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'about_company' %}#about">{% translate "Об обществе" %}</a></li>
            <li><a href="{% url 'about_company' %}#team">{% translate "Руководство" %}</a></li>
            <li><a href="{% url 'about_company'%}#activity">{% translate "Блоки" %}</a></li>
            <li><a href="{% url 'vacancies' %}">{% translate "Вакансии" %}</a></li>
            <li><a href="{% url 'npa' %}">{% translate "Нормативно-правовая база" %}</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>{% translate "Инвесторам и партнерам" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'invest'%}">{% translate "Инвестиционный кейс" %}</a></li>
            <li><a href="{% url 'strategy' %}">{% translate "Стратегия развития" %}</a></li>
            <li><a href="{% url 'projects' %}">{% translate "Наши проекты" %}</a></li>
            <li><a href="{% url 'reports' %}">{% translate "Отчеты и результаты" %}</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>{% translate "Пресс-центр" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'news' %}">{% translate "Пресс-релизы (новости)" %}</a></li>
            <li><a href="{% url 'interviews' %}">{% translate "Интервью" %}</a></li>
            <li><a href="{% url 'gallery' %}">{% translate "Фотогалерея" %}</a></li>
            <li><a href="{% url 'hot_news' %}">{% translate "Брифинг" %}</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>{% translate "Закупки" %}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'contests' %}">{% translate "Конкурсы" %}</a></li>
          </ul>
        </li>
        <li><a class="nav-link" href="{% url 'feedback' %}">{% translate "Свяжитесь с нами" %}</a></li>
        <li class="dropdown"><a href="#"><span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
          <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
          <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
        </svg></span></a>
          <ul>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            
            {% for lang in languages %}
            <li><a href="/{{lang.code}}/{{actual_url}}">{{lang.name_local}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>

