{% extends 'admin/admin_base.html' %}   
{% load static %}
{% block plugin_css %}
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'admin-panel/vendors/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'admin-panel/vendors/chartist/chartist.min.css' %}">
<!-- End plugin css for this page -->
{% endblock plugin_css %}
  {% block content %}
  <div id="spinner-box" class="spinner-box text-center mt-3 mb-3 ml-auto pr-4">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Загрузка...</span>
    </div>
  </div>
          <div class="content-wrapper">
            <div class="row purchace-popup" id="purchace-popup">
              <div class="col-12 stretch-card grid-margin">
                <div class="card card-secondary">
                  <span class="card-body d-lg-flex align-items-center">
                    <p class="mb-lg-0">
                      <span class="text-dark" style="margin-right: 5px; font-weight: 600;">Полезные советы:</span>
                        <ul id="suggestion">
                          <li class="item">Добавьте сначало Галереи потом фотографию для Галереи</li>
                          <li class="item">Сначало познакомтесь с инструкциями пользователя</li>
                        </ul>  
                    </p>
                    <a href="add/" class="btn btn-success purchase-button btn-sm my-1 my-sm-0 ml-auto">Читать инструкцию</a>
                    <button id="close-btn" class="close popup-dismiss ml-2">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <!-- Quick Action Toolbar Starts-->
            <div class="row quick-action-toolbar">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-header d-block d-md-flex">
                    <h5 class="mb-0">Быстрые действии</h5>
                    <p class="ml-auto mb-0"><i class="icon-bulb"></i></p>
                  </div>
                  <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
                    <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
                      <a href="{% url 'hotnews_create' %}" class="btn px-0"><i class="icon-book-open mr-2"></i>Добавить Событии</a>
                    </div>
                    <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
                      <a href="{% url 'news_create'%}" class="btn px-0"> <i class="icon-book-open mr-2"></i>Добавить новости</a>
                    </div>
                    <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
                      <a href="{% url 'projects_create' %}" class="btn px-0"><i class="icon-folder mr-2"></i>Добавить проект</a>
                    </div>
                    <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
                      <a href="{% url 'management_create' %}" class="btn px-0"><i class="icon-user mr-2"></i>Добавить сотрудника</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Quick Action Toolbar Ends-->

            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-sm-flex align-items-center mb-4">
                      <h4 class="card-title mb-sm-0">Последние События</h4>
                      <a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> Все События</a>
                    </div>
                    <div class="table-responsive border rounded p-1">
                      {% if hotnews_list %}
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="font-weight-bold">#</th>
                            <th class="font-weight-bold">Название Событии</th>
                            <th class="font-weight-bold">Дата</th>
                            <th class="font-weight-bold">Язык</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for hotnews in hotnews_list %}
                          <tr>
                            <td>
                              {{ forloop.counter}}
                            </td>
                            <td class="td-title">{{hotnews.title}}</td>
                            <td>{{hotnews.pub_date}}</td>
                            <td>
                              <div class="badge badge-warning ">{{hotnews.Language}}</div>
                            </td>
                          </tr>
                        {% endfor %}
                     
                        </tbody>
                      </table>
                    {% else %}
                    <h3>Нет записей в БД</h3>
                    {% endif %}
                    </div>
                  {% if is_paginated %}
                    <div class="d-flex mt-4 flex-wrap">
                      <p class="text-muted">Всего записей: <b>{{all_entries}}</b></p>
                      <nav class="ml-auto">
                        <ul class="pagination separated pagination-info">
                          {% if page_obj.has_previous %}
                              <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link"><i class="icon-arrow-left"></i></a></li>
                          {% endif %}
                          <li class="page-item"><a class="page-link">{{page_obj.number}} из {{page_obj.paginator.num_pages}}</a></li>

                          {% if page_obj.has_next %}
                          <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link"><i class="icon-arrow-right"></i></a></li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->

          <script>
            let clsBtn = document.getElementById("close-btn");
            let row = document.getElementById('purchace-popup');
            clsBtn.onclick = function(){
              row.style.display = "none";
            }
          </script>
    {% endblock content %}
    
   
    {% block custom_js %}

    <script src="{% static 'admin-panel/js/custom.js' %}"></script>
    <!-- plugins:js -->
    <script src="{% static 'admin-panel/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin-panel/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin-panel/js/misc.js' %}"></script>
    <!-- endinject -->
    <script src="{% static 'admin-panel/js/jquery.ticker.js' %}"></script>

    <!-- Custom js for this page -->
    <script src="{% static 'admin-panel/js/dashboard.js' %}"></script>
    <!-- Custom js for this page -->

    <script src="{% static 'admin-panel/js/custom.js' %}"></script>
    <!-- End custom js for this page -->
    {% endblock custom_js %}