{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

{% url "management_create"  as url_path %}
<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{% if request.path == url_path %}Добавление{% else%}Изменение{% endif %} Сотрудника</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'management_all' %}">Сотрудники</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% if request.path == url_path %}Добавить{% else%}Изменить{% endif %} запись</li>
        </ol>
      </nav>
    </div>
   
    {% if messages %} 
      {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert">{{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible" role="alert">{{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card shadow-lg">
        <div class="card-body">
            <h4 class="card-title">{% if request.path == url_path %}Добавить{% else%}Изменить{% endif %} запись</h4>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.full_name.id_for_label }}" class="font-weight-bold">ФИО Сотрудника</label>
                {{ form.full_name }}
                {{ form.full_name.errors }}
            </div>
            <div class="form-group">
               <p><label for="{{ form.position.id_for_label }}" class="font-weight-bold">Должность</label></p>
                {{ form.position }}
                {{ form.position.errors }}
            </div>
            
            <div class="form-row">
                <div class="col form-group">
                    <label for="{{ form.date_birth.id_for_label }}" class="font-weight-bold">Дата Рождения:</label>
                    {{ form.date_birth }}
                </div>
                <div class="col form-group">
                    <label for=" {{ form.mail_link.id_for_label }}" class="font-weight-bold">Почта:</label>
                    {{ form.mail_link }}
                    {{ form.mail_link.errors }}
                </div>
            </div>

            <div class="form-row">
                <div class="col form-group">
                    <label for="{{ form.instagram_link.id_for_label }}" class="font-weight-bold">Инстаграм:</label>
                    {{ form.instagram_link }}
                    {{ form.instagram_link.errors }}
                </div>
                <div class="col form-group">
                    <label for=" {{ form.facebook_link.id_for_label }}" class="font-weight-bold">Facebook:</label>
                    {{ form.facebook_link }}
                    {{ form.facebook_link.errors }}
                </div>
            </div>

            <div class="form-group">
                <p>
                <label for="{{ form.about.id_for_label }}" class="font-weight-bold">Биография</label>
                </p>
                {{ form.media }}
                {{ form.about }}
                {{ form.about.errors }}
            </div>

            <div class="form-row">
                 <div class="col form-group">
                    <p>
                    <label for="{{ form.picture.id_for_label }}" class="font-weight-bold">Выберите фотографию:</label>
                    </p>
                    {{ form.picture }}
                    {{ form.picture.errors }}
                 </div>
                <div class="col form-group">
                    <label for=" {{ form.language.id_for_label }}" class="font-weight-bold">Выберите язык:</label>
                    {{ form.language }}
                    {{ form.language.errors }}
                </div>
            </div>
           
         
            {% url 'management_all' as management %}
            <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
            <a href="{{management}}"  class="btn btn-light">Отменить</a>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js%}
<!-- plugins:js -->
<script src="{% static 'admin-panel/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin-panel/js/off-canvas.js' %}"></script>
<script src="{% static 'admin-panel/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
{% endblock custom_js %}