{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

{% url 'hotnews_create' as url_path %}
<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{% if request.path == url_path %}Добавление{% else %}Изменение{% endif %} Событий</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'hotnews_all' %}">Важные события</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% if request.path == url_path %}Добавление{% else %}Изменение{% endif %} Событий</li>
        </ol>
      </nav>
    </div>
    {% if messages %} 
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible" role="alert">{{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible" role="alert">{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% if request.path == url_path %}Добавить новую{% else %}Изменить{% endif %} запись</h4>
            <form class="forms-sample" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="font-weight-bold">Заголовок Событий</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
               <label for="{{ form.short_description.id_for_label }}" class="font-weight-bold">Краткое Описание</label>
                {{ form.short_description }}
                {{ form.short_description.errors }}
            </div>
            <div class="form-group">
                <p>
                <label for="{{ form.description.id_for_label }}" class="font-weight-bold">Описание</label>
                </p>
                {{ form.media }}
                {{ form.description }}
                {{ form.description.errors }}
             </div>
            <div class="form-row">
                <div class="col form-group">
                    <label for="{{ form.pub_date.id_for_label }}" class="font-weight-bold">Выберите дату:</label>
                    {{ form.pub_date }}
                    {{ form.pub_date.errors }}
                </div>
                <div class="col form-group">
                    <label for="{{ form.Language.id_for_label }}" class="font-weight-bold">Выберите Язык:</label>
                    {{ form.Language }}
                    {{ form.Language.errors }}
                </div>
            </div>
           
            <div class="form-group">
                <label for="{{ form.gallery.id_for_label }}" class="font-weight-bold">Выберите галерею:</label>
                {{ form.gallery }}
                {{ form.gallery.errors }}
            </div>
         
            {% url 'hotnews_all' as hotnews %}
            <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
            <a href="{{hotnews}}"  class="btn btn-light">Отменить</a>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js%}
<!-- plugins:js -->
<script src="{% static 'admin-panel/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin-panel/js/off-canvas.js' %}"></script>
<script src="{% static 'admin-panel/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
{% endblock custom_js %}