{% extends 'client/base.html' %}
{% load static %}
{% load i18n %}


{% block page_title %}Кыргызиндустрия{% endblock page_title%}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">{% translate "ОАО «Кыргызиндустрия»" %}</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">{% translate "создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном капитале, который составляет 1 млрд. сомов." %}</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#portfolio" class="btn-get-started scrollto">{% translate "Наши Проекты" %}</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'client/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'client/img/clients/client-1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'client/img/clients/client-2.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'client/img/clients/client-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'client/img/clients/client-4.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'client/img/clients/client-5.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'client/img/clients/client-6.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "О НАС" %}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              {% translate "Основными направлениями промышленной политики, реализуемой ОАО являются:" %}
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> {% translate "Формирование благоприятного инвестиционного и предпринимательского климата." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Инновационно-технологическое развитие промышленности." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Обеспечение промышленных предприятий востребованными кадрами." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Продвижение продукции промышленных предприятий на рынках сбыта." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Создание промышленных кластеров." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Оснащение промышленных предприятий энергоресурсами, инженерной и транспортной инфраструктурой." %}</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              {% translate "Открытое Акционерное ОбществоОАО “Кыргызиндустрия” создано решением Кабинета Министров со 100% участием государства в его уставном капитале, который составляет 1 млрд. сомов." %}
              {% translate "Учредителем и единственным акционером Общества является Кабинет Министров Кыргызской Республики. ОАО «Кыргызиндустрия» является коммерческой организацией, имеет юридический статус (обладает обособленным имуществом, имеет самостоятельный баланс, корреспондентские, расчетные, валютные и другие счета в банках Кыргызской Республики и за ее пределами)." %}
            </p>
            <a href="{% url 'about_company' %}" class="btn-learn-more">{% translate "Узнать Больше" %}</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

     <!-- ======= More Services Section ======= -->
     <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("{% static 'client/img/news/22-300x200.jpg' %}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">{% translate "Инвестиционные возможности регионов Кыргызстана" %}</a></h5>
                <p class="card-text">{% translate "Инвестиционные возможности регионов Кыргызстана     8 октября 2022 года президент ОАО «Кыргызиндустрия» принял участие в Российско-Кыргызском инвестиционном форуме, который" %}</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("{% static 'client/img/news/japon.jpg' %}");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">{% translate "Установление сотрудничества с японским бизнесом" %}</a></h5>
                <p class="card-text">{% translate "Установление сотрудничества с японским бизнесом      7 октября 2022 года состоялась встреча вице-президента ОАО «Кыргызиндустрия» Сарбанова С.Т. с президентом" %}</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Читать</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("{% static 'client/img/news/italy.jpg' %}");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">{% translate "Сотрудничество ОАО «Кыргызиндустрия» с бизнес-кругами Италии" %}</a></h5>
                <p class="card-text">{% translate "Сотрудничество ОАО «Кыргызиндустрия» с бизнес-кругами Италии      5 октября 2022 года при содействии Посольства Кыргызской Республики в Италии сотрудники" %}</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Читать</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("{% static 'client/img/news/data-center.jpg' %}");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">{% translate "В Кыргызстане планируется создать Дата-центр" %}</a></h5>
                <p class="card-text">{% translate "В Кыргызстане планируется создать Дата-центр      28 сентября 2022 года состоялась встреча президента ОАО «Кыргызиндустрия» Ж.О. Абдураимова с делегацией" %}</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Читать</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a href="{% url 'news' %}" id="more-news" class="btn-learn-more">{% translate "Показать больше" %}</a>

    </section><!-- End More Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="activity" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Направления деятельности" %}</h2>
          <p>{% translate "Основными направлениями промышленной политики, реализуемой ОАО являются:" %}</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="#">{% translate "производство технической, строительной и других видов продукции" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="#">{% translate "производство товаров народного потребления" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="#">{% translate "производство продуктов питания" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="#">{% translate "полиграфические услуги, организации средств массовой информации" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="#">{% translate "профессиональная деятельность на рынке ценных бумаг" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="#">{% translate "дополнительная деятельность, направленная на поддержание бизнеса" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="#">{% translate "Виды деятельности, на которые требуются специальные разрешения" %}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="#">{% translate "Иные виды деятельности, не противоречащие законодательству КР" %}</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'client/img/counts-img.svg' %}" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="contests" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Конкурсы" %}</h2>
          <p>{% translate "Архив проведенных конкурсов" %}</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">{% translate "Конкурс не состялся" %}</a></h4>
              <p class="description">{% translate "Услуг по выполнению строительно-монтажных работ, ремонтных работ и составлению проектно-сметной документации" %}</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">{% translate "Конкурс не состоялся" %}</a></h4>
              <p class="description">{% translate "Услуг по выполнению строительно-монтажных работ, ремонтных работ и составлению проектно-сметной документации" %}</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">{% translate "Конкурс состоялся. Победитель определен" %}</a></h4>
              <p class="description">{% translate "Конкурс на закупку легкового электромобиля" %}</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">{% translate "Конкурс не состоялся" %}</a></h4>
              <p class="description">{% translate "Конкурс на закупку технологической линии по производству пенаполистирола в блоках и панелей для ОсОО “Кыргызбетонкурулуш”" %}</p>
            </div>
          </div>

        </div>

        <a href="{% url 'contests' %}" id="more-news" class="btn-learn-more">{% translate "Показать больше" %}</a>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "ПРОЕКТЫ" %}</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{% translate "Все" %}</li>
              <li data-filter=".filter-app">{% translate "Реализованные" %}</li>
              <li data-filter=".filter-card">{% translate "Не Реализованные" %}</li>
              <li data-filter=".filter-web">{% translate "В процессе" %}</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

       
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class='bx bx-collapse-alt'></i></a>
                  <a href="{% url 'detail' %}" title="More Details"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class='bx bx-collapse-alt'></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class='bx bx-right-arrow-alt'></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'client/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{% static 'client/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a href="{% url 'projects' %}" id="more-news" class="btn-learn-more">{% translate "Показать больше" %}</a>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Руководство" %}</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4" style="margin:auto; width: 100%;" >
            <section id="team" class="team section-bg">
                <div class="container">
          
                    <div style="margin:auto; width: 23%" class="col-lg-3 col-md-6 d-flex align-items-stretch">
                      <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                          <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                        <div class="member-info">
                         <a href="{% url 'president' %}"><h4>{% translate "Абдураимов Жарасул Осмоналиевич" %}</h4></a>
                          <span>{% translate "Президент ОАО “Кыргызиндустрия”" %}</span>
                        </div>
                      </div>
                    </div>
          
                </div>
              </section><!-- End Team Section -->
          
              <!-- ======= Team Section ======= -->
              <section id="team" class="team section-bg" style="margin-top: -5%; width: 100%;">
                <div class="container">
                  <div class="row">
          
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%;">
                      <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                          <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                        <div class="member-info">
                            <a href="{% url 'president' %}"><h4>{% translate "Сарбанов Советбек Талгарбекович" %}</h4></a>
                          <span>{% translate "Вице – президент ОАО “Кыргызиндустрия” по НИОКР и инновационным проектам " %}</span>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%;">
                      <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                          <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                        <div class="member-info">
                            <a href="{% url 'president' %}"><h4>{% translate "Байышбеков Азамат Байышбекович" %}</h4></a>
                          <span>{% translate "Вице – президент ОАО “Кыргызиндустрия” по внешнеэкономическим связям и торговле" %}</span>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%;">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                          <div class="member-img">
                            <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                            <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <a href="{% url 'president' %}"><h4>{% translate "Сагынбаев Жиргалбек Калмуратович" %}</h4>
                            <span>{% translate "Вице – президент ОАО “Кыргызиндустрия” по промышленным отраслям" %}</span>
                          </div>
                        </div>
                    </div>
          
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%;">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                          <div class="member-img">
                            <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                            <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <a href="{% url 'president' %}"><h4>{% translate "Асанов Тургун Эмилевич" %}</h4></a>
                            <span>{% translate "Вице – президент ОАО “Кыргызиндустрия” по экономике и финансам " %}</span>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%;">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                          <div class="member-img">
                            <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                            <div class="social">
                              <a href=""><i class="bi bi-twitter"></i></a>
                              <a href=""><i class="bi bi-facebook"></i></a>
                              <a href=""><i class="bi bi-instagram"></i></a>
                              <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <div class="member-info">
                            <a href="{% url 'president' %}"><h4>{% translate "FIO" %}</h4></a>
                            <span>{% translate "Руководитель аппарата" %}</span>
                          </div>
                        </div>
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End Team Section -->
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "СВЯЖИТЕСЬ С НАМИ" %}</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>{% translate "ОАО «Кыргызиндустрия»" %}</h3>
              <p>{% translate "ОАО «Кыргызиндустрия» создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном капитале, который составляет 1 млрд. сомов." %}</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>{% translate "г. Бишкек, пр. Чуй, 106" %}</p>
              </div>

              <div>
                <a href="mailto:kyrgyzindustry@gmail.com">
                <i class="ri-mail-send-line"></i>
                <p>kyrgyzindustry@gmail.com</p>
                </a>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+996 (312) 665252</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="{% translate "Имя" %}" required>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="subject" id="subject" placeholder="{% translate "Номер Телефона" %}" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="{% translate "Сообщение ..." %}" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">{% translate "Отправить" %}</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock content %}