{% extends 'client/base.html' %}
{% load static %}
{% load i18n %}


{% block page_title %}Кыргызиндустрия{% endblock page_title%}

{% block other_pages_style %} {% endblock other_pages_style %}
      

{% block content %}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}
  

<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url({% static 'client/img/slider/slide-2.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>{% translate "ОАО «Кыргызиндустрия»" %}</span></h2>
              <p class="animate__animated animate__fadeInUp">{% translate "ОАО «Кыргызиндустрия» создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном капитале." %}</p>
              <a href="{% url 'about_company' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">{% translate "Узнать больше" %}</a>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url({% static 'client/img/slider/slide-3.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Цели и задачи ОАО «Кыргызиндустрия»</h2>
              <p class="animate__animated animate__fadeInUp">отвечают стратегии новой экономической политики, которая нацелена на использование экономического потенциала страны на базе инновационных методов и технологий в реальном секторе отечественной экономики.</p>
              <a href="{% url 'about_us_full_info' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">{% translate "Читать дальше" %}</a>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url({% static 'client/img/slider/slide-4.jpg' %});">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Создание ОАО «Кыргызиндустрия»</h2>
              <p class="animate__animated animate__adeInUp"> позволяет решить целый комплекс задач, диктуемых современными условиями ведения предпринимательства: повысит эффективность оперативного управления, увеличит инвестиционную привлекательность бизнеса, снизит производственные издержки, улучшит управление рисками и др.</p>
              <a href="{% url 'about_us_full_info' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">{% translate "Читать дальше" %}</a>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon ri-arrow-left-line" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon ri-arrow-right-line" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section>

  <main id="main">
    
     <!-- ======= News Section ======= -->
     <section id="more-services" class="more-services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Новости" %}</h2>
          <p id="titlenews">{% translate "Последние новости" %}</p>
        </div>
        <div class="row">
          {% if not error %}
            {% for news, img in news_page %}
            <div class="col-md-6 d-flex align-items-stretch mt-3">
              <div class="card" style='background-image: url("/{{ img }}");' data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'news_detail' news.Title %}">{{ news.Title }}</a></h5>
                  <p class="card-text">{{ news.Short_Description }}</p>
                  <div class="read-more"><a href="{% url 'news_detail' news.Title %}">
                  <i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a>
                  </div>
                </div>
              </div>
            </div>
           
            {% empty %}
            <div class="section-title" data-aos="fade-up">
              <h4>{% translate "Нет новостей" %}</h4>
            </div>
                <script type="text/javascript">
                  function func() {
                      if (document.getElementById("titlenews")) { 
                          //Записываем ссылку на элемент в переменную obj
                          var obj = document.getElementById("titlenews"); 
                          //Если css-свойство display не block, то: 
                            obj.style.display = "none";
                      }
                      }
                        func();
              </script>
            {% endfor %}
            <div class="col-12 d-flex justify-content-center mt-3 more-news aos-init aos-animate" data-aos="fade-up">
              <a href="{% url 'news' %}" id="more-news" class="btn-learn-more" >{% translate "Показать больше" %}</a>
            </div>
            {% else %}
            <div class="section-title" data-aos="fade-up">
              <h5 class="text-danger">{% translate "Ошибка: В какой-то галереи не добавлены не одной фотографии" %}</h5>
            </div>
            {% endif %}
          </div> 
      
       
      </div>
    </section>

     <!-- ======= Counts Section ======= -->
     <section id="counts" class="counts">
      <div class="container position-relative">

        <div class="text-center title">
          <h3>Чего мы достигли на данный момент</h3>
          <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>{% translate "Реализованные Проекты" %}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>{% translate "Количество созданных Рабочих мест" %}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>{% translate "Проекты в Перспективе" %}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Еще что-то</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>{% translate "Наши проекты" %}</h2>
            <p>Реализованные Проекты</p>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">{% translate 'ОсОО "Кыргызкыш" ' %}</a></h4>
                <p>{% translate "Завод по производству строительного кирпича" %}</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">{% translate 'ОсОО "Кыргызчеттранс" ' %}</a></h4>
                <p>Транспортно-логистическая компания</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">{% translate 'ОсОО "Би Кей Медикеар" ' %}</a></h4>
                <p>{% translate "Производство медицинских пластырей" %} </p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">{% translate 'ОсОО "Кыргызтопчу"' %}</a></h4>
                <p>{% translate "Производство швейной фурнитуры (пуговицы и молнии)" %}</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">{% translate 'ОсОО "Кыргызтемирмык"' %}</a></h4>
                <p>{% translate "Производство изготовления гвоздей." %}</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">Еще какой-то проект</a></h4>
                <p>{% translate "Завод по производству строительного кирпича" %}</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->
    
    <!-- ======= Contact Section ======= -->
    <!--
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "контакты" %}</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>{% translate "ОАО «Кыргызиндустрия»" %}</h3>
              <p>{% translate "ОАО «Кыргызиндустрия» создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном капитале." %}</p>
              <div class="social-links">
                <a href="#" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/KyrgyzIndustry" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/kyrgyzindustry" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCnHPUWY4Q-bPm2EMt-99-9g" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-5 col-md-12 yandex-map" data-aos="fade-up" data-aos-delay="300">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09bfc1dbae904e7d973d68617001bb7a3425b92e85385c19cde82e2b3eae920d&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>

        </div>

      </div>
    </section>-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock content %}
  {% block custom_js%}
  <script src="{% static 'client/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'client/js/jquery.ticker.js' %}"></script>
   
  <script type="text/javascript">
      // $(function () {
      //   $('#suggestion').ticker();
      // });	
</script>

  {% endblock custom_js%}