{% extends 'client/base.html' %}
{% load static %}
{% load i18n %}


{% block page_title %}Кыргызиндустрия{% endblock page_title%}

{% block content %}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <ul id="suggestion">
            <li class="item">
              <h1 data-aos="fade-up">{% translate "ОАО «Кыргызиндустрия»" %}</h1>
              <h2 data-aos="fade-up" data-aos-delay="400">{% translate "создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном капитале." %}</h2>
              <div data-aos="fade-up" data-aos-delay="800">
                <a href="#portfolio" class="btn-get-started scrollto">{% translate "Наши Проекты" %}</a>
              </div>
            </li>
            {% for hotnews in hot_news%}
            <li class="item"> 
              <h1 data-aos="fade-up">{{ hotnews.title}}</h1>
              <h2 data-aos="fade-up" data-aos-delay="400">{{ hotnews.short_description}}</h2>
              <div data-aos="fade-up" data-aos-delay="800">
                <a href="{% url 'hot_news_detail' hotnews.title %}" class="btn-get-started scrollto">{% translate "Читать дальше" %}</a>
              </div>
            </li>
            {% endfor %}
          </ul>  
         
         
        
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'client/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    
     <!-- ======= News Section ======= -->
     <section id="more-services" class="more-services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Новости" %}</h2>
          <p id="titlenews">{% translate "Последние новости" %}</p>
        </div>
        <div class="row">
          {% if not error %}
            {% for news, img in news_page %}
            <div class="col-md-6 d-flex align-items-stretch mt-3">
              <div class="card" style='background-image: url("/{{ img }}");' data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'news_detail' news.Title %}">{{ news.Title }}</a></h5>
                  <p class="card-text">{{ news.Short_Description }}</p>
                  <div class="read-more"><a href="{% url 'news_detail' news.Title %}">
                  <i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="section-title" data-aos="fade-up">
              <h4>{% translate "Нет новостей" %}</h4>
            </div>
            <script type="text/javascript">
              function func() {
          if (document.getElementById("titlenews")) { 
              //Записываем ссылку на элемент в переменную obj
              var obj = document.getElementById("titlenews"); 
              //Если css-свойство display не block, то: 
                obj.style.display = "none";
          }
          }
            func();
          </script>
            {% endfor %}
            {% else %}
            <div class="section-title" data-aos="fade-up">
              <h5 class="text-danger">{% translate "Ошибка: В какой-то галереи не добавлены не одной фотографии" %}</h5>
            </div>
            {% endif %}
          </div> 
        {% if news_page  and not error %}
        <a href="{% url 'news' %}" id="more-news" class="btn-learn-more" data-aos="fade-up" data-aos-delay="300">{% translate "Показать больше" %}</a>
        {% endif %}
      </div>
    </section><!-- End More Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'client/img/counts-img.svg' %}" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="ri-chrome-fill"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{% translate "Text" %}</strong> {% translate "Some text" %}</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    {% comment %} <!-- ======= Services Section ======= -->
    <section id="contests" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Конкурсы" %}</h2>
          <p id="titlecontets">{% translate "Архив конкурсов" %}</p>
        </div>
        <div class="row">
          {% for contest in contest_page %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-file"></i>
              </div>
              <h4 class="title"><a href="">{{ contest.Status }}</a></h4>
              <p class="description">{{ contest.Short_Description }}</p>
              <div class="read-more"><a href="/{{contest.Document }}">
                <i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="section-title" data-aos="fade-up">
            <h4>{% translate "Нет конкурсов" %}</h4>
          </div>
          <script type="text/javascript">
            function func() {
        if (document.getElementById("titlecontets")) { 
            //Записываем ссылку на элемент в переменную obj
            var obj = document.getElementById("titlecontets"); 
            //Если css-свойство display не block, то: 
              obj.style.display = "none";
        }
        }
          func();
        </script>
          {% endfor %}
        </div>
        {% if contest_page %}
        <a href="{% url 'contests' %}" id="more-news" class="btn-learn-more">{% translate "Показать больше" %}</a>
        {% endif %}
      </div>
    </section><!-- End Services Section --> {% endcomment %}

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients clients">
          <div class="container">
    
            <div class="row">
    
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'client/img/clients/client-1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
              </div>
    
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'client/img/clients/client-2.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
              </div>
    
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'client/img/clients/client-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
              </div>
    
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'client/img/clients/client-4.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
              </div>
    
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'client/img/clients/client-5.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
              </div>
    
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'client/img/clients/client-6.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
              </div>
    
            </div>
    
          </div>
        </section><!-- End Clients Section -->
   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Наши контакты" %}</h2>
        </div>

        <div class="row">

          <div style="padding-bottom: 70px;">
          <div style="float: none;display: inline-block; vertical-align: top; margin-right: -4px; float: left; margin-left: 10%;">
            <ul>
              <li><a href="{% url 'about_company' %}">{% translate "О нас" %}</a></li>
              <ul>
                <li><a href="{% url 'about_company' %}">{% translate "Об обществе" %}</a></li>
                <li><a href="{% url 'index' %}#team">{% translate "Руководство" %}</a></li>
                <li><a href="#about">{% translate "Блоки" %}</a></li>
                <li><a href="#clients">{% translate "Наши пратнеры" %}</a></li>
                <li><a href="#about">{% translate "Нормативно-правовая база" %}</a></li>
              </ul>
            </ul>
            </div>
          <div style="float: none; display: inline-block; vertical-align: top; margin-right: -4px; float: left; margin-left: 10%;">
            <ul>
              <li><a href="#">{% translate "Пресс-центр" %}</a></li>
              <ul>
                <li><a href="{% url 'index' %}#more-services">{% translate "Пресс-релизы (новости)" %}</a></li>
                <li><a href="#team">{% translate "Интервью" %}</a></li>
                <li><a href="{% url 'gallery' %}">{% translate "Фотогалерея" %}</a></li>
                <li><a href="#about">{% translate "Брифинг" %}</a></li>
              </ul>
          </ul>
        </div>
        <div style="float: none; display: inline-block; vertical-align: top; margin-right: -4px; float: left; margin-left: 10%;">
          <ul>
            <li><a href="#">{% translate "Закупки" %}</a></li>
            <ul>
              <li><a href="{% url 'index' %}#contests">{% translate "Конкурсы" %}</a></li>
              <li><a href="{% url 'contests' %}">{% translate "Архив конкурсов" %}</a></li>
            </ul>
          </ul>
        </div>
      </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>{% translate "ОАО «Кыргызиндустрия»" %}</h3>
              <p>{% translate "ОАО «Кыргызиндустрия» создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном капитале." %}</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/KyrgyzIndustry" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/kyrgyzindustry" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCnHPUWY4Q-bPm2EMt-99-9g" class="youtube"><i class="bi bi-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>{% translate "г. Бишкек, пр. Чуй, 106" %}</p>
              </div>

              <div>
                <a href="mailto:kyrgyzindustry@gmail.com">
                <i class="ri-mail-send-line"></i>
                <p>kyrgyzindustry@gmail.com</p>
                </a>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+996 (312) 665252</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            {% comment %} <form method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="{% translate "Имя" %}" required>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="subject" id="subject" placeholder="{% translate "Номер Телефона" %}" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="{% translate "Сообщение ..." %}" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">{% translate "Отправить" %}</button></div>
            </form> {% endcomment %}
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09bfc1dbae904e7d973d68617001bb7a3425b92e85385c19cde82e2b3eae920d&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock content %}
  {% block custom_js%}
  <script src="{% static 'client/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'client/js/jquery.ticker.js' %}"></script>
   
  <script type="text/javascript">

      
  $(function () {
    $('#suggestion').ticker();
  });	
</script>

  {% endblock custom_js%}