{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}


<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Вакансии</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Вакансии</a></li>
          <li class="breadcrumb-item active" aria-current="page">Обновление</li>
        </ol>
      </nav>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Изменить Вакансию</h4>
            <p class="card-description"> Форма изменение Вакансии </p>
            <form class="forms-sample" method="POST">
            {% csrf_token %}

            {% if messages %}
            <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                    <div class="text-center alert alert-{{ message.tags }}">
                        {{ message|safe }}
                    </div>
                 {% endfor %}
            </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="font-weight-bold">Заголовок</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.company.id_for_label }}" class="font-weight-bold">Компания</label>
                {{ form.company }}
                {{ form.company.errors }}
            </div>
            <div class="form-group">
                <div class="col form-group">
                    <label for=" {{ form.Language.id_for_label }}" class="font-weight-bold">Выберите Язык:</label>
                    {{ form.Language }}
                </div>
            </div>
            <div class="col form-group">
                    <label for="{{ form.pub_date.id_for_label }}" class="font-weight-bold">Выберите дату:</label>
                    {{ form.pub_date }}
                </div>
            <div class="form-group">
                <label for="{{ form.email_company.id_for_label }}" class="font-weight-bold">e-mail</label>
                {{ form.email_company }}
                {{ form.email_company.errors }}
            </div>
            
            <div class="form-row">
                <div class="form-group">
               <p><label for="{{ form.description.id_for_label }}" class="font-weight-bold">Описание</label></p>
                {{ form.media }}
                {{ form.description }}
                {{ form.description.errors }}
                </div>
            </div>
            <div class="form-row">

                <div class="col form-group">
                    <label for=" {{ form.status.id_for_label }}" class="font-weight-bold">Выберите Статус:</label>
                    {{ form.status }}
                </div>
                <div class="form-group">
                    <label for="{{ form.salary.id_for_label }}" class="font-weight-bold">Оклад</label>
                    {{ form.salary }}
                    {{ form.salary.errors }}
                </div>
            </div>
            {% url 'vacancies_all' as vacancy %}
            <button type="submit" class="btn btn-primary mr-2">Обновить</button>
            <a href="{{vacancy}}"  class="btn btn-light">Отменить</a>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js%}
<!-- plugins:js -->
<script src="{% static 'admin-panel/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin-panel/js/off-canvas.js' %}"></script>
<script src="{% static 'admin-panel/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
{% endblock custom_js %}