{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}About Company{% endblock page_title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Об обществе" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Об обществе" %}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" >
      <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8" style="margin:auto; width: 40%; height: 20%;">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="{% static 'client/img/portfolio/portfolio-details-1.jpg' %}" alt="">
                    </div>
    
                    <div class="swiper-slide">
                      <img src="{% static 'client/img/portfolio/portfolio-details-2.jpg' %}" alt="">
                    </div>
    
                    <div class="swiper-slide">
                      <img src="{% static 'client/img/portfolio/portfolio-details-3.jpg' %}" alt="">
                    </div>
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>

          <div class="col-lg-4" style="margin:auto; width: 90%;" >
            <div class="portfolio-info">
              <h3>Открытое Акционерное Общество "Кыргызиндустрия"</h3> <p>Создано постановлением Кабинета Министров 
                Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его уставном 
                капитале, который составляет 1 млрд. сомов.</p>
              <p>Учредителем и единственным акционером настоящего ОАО «Кыргызиндустрия» является Кабинет Министров. 
                Вместе с тем ОАО – коммерческая организация с юридическим статусом (обладает обособленным имуществом, 
                имеет самостоятельный баланс, корреспондентские, расчетные, валютные и другие счета в банках Кыргызстана и за его пределами). В рамках своей компетенции ОАО оперативно и самостоятельно реализует мероприятия по привлечению инвестиций, взаимодействует с международными корпорациями и финансовыми институтами, создает совместные акционерные предприятия в рамках корпоративного управления.</p>
              <p>Цели и задачи ОАО «Кыргызиндустрия» отвечают стратегии новой экономической политики, которая нацелена 
                на использование экономического потенциала страны на базе инновационных методов и технологий в реальном 
                секторе отечественной экономики.
                На сегодня ОАО располагает целым рядом конкретных проектов, направленных на возрождение промышленности 
                путем создания новых производственных мощностей, модернизации и расширения действующих производств, 
                а также перезапуска простаивающих предприятий. Соответственно, основной задачей ОАО становится создание 
                новых рабочих мест, влекущее за собой сокращение уровней безработицы и трудовой миграции.</p>
              <p>Создание ОАО «Кыргызиндустрия» позволяет решить целый комплекс задач, диктуемых современными условиями 
                ведения предпринимательства: повысит эффективность оперативного управления, увеличит инвестиционную 
                привлекательность бизнеса, снизит производственные издержки, улучшит управление рисками и др. 
                Присутствие государства в качестве акционера в предприятиях стратегических отраслей (до 49%) 
                непосредственно влияет на принимаемые топ-менеджментом решения, создает предпосылки для максимально 
                эффективного использования государственных активов в соответствии с приоритетными направлениями 
                развития предприятий. В конечном счете повысится эффективность их функционирования на основе 
                новой сформированной модели управления акционерной собственностью.</p>
            </div>
          </div>
        </div>

        <!-- ======= Testimonials Section -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Наши Цели и Задачи" %}</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/investing.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Привлечение и стимулирование инвестиций" %}</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/commerce.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Оздоровление неплатежаспособных хозяйствующих субъектов" %}</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/company.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Создание современных предприятий" %}</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/teo.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Разработка ТЭО" %}</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/modernization.jpg' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Модернизация промышленности" %}</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/activity.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Стимулирование деятельности промышленных предприятий" %}</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> <!--Section -->


          <div class="col-lg-4" style="margin:auto; width: 90%;" >
            <div class="portfolio-info">
              <p><strong>Основными направлениями промышленной политики, реализуемой ОАО являются:<br></strong></p>
              <p>Формирование благоприятного инвестиционного и предпринимательского климата.<br>
                Наращивание промышленного производства неразрывно связано с объемами инвестиций, привлекаемыми 
                в промышленный сектор. В качестве основных источников привлечения средств на ближайшую перспективу 
                остаются средства юридических и физических лиц, поэтому деятельность ОАО направлена на привлечение 
                инвестиций, снижение процедурной и административной нагрузки на инвесторов, уменьшение рисков при 
                осуществлении запуска новых производств, стимулирование заинтересованности бизнес-сообщества в 
                реализации инновационных проектов.</p></li>
              <p>Инновационно-технологическое развитие промышленности.<br>
                В первую очередь внимание ОАО направлено на производство наукоемкой и высокотехнологичной продукции 
                несырьевого сектора экономики с высокой добавленной стоимостью. Поэтому ОАО ориентировано на 
                всестороннее сотрудничество с научно-образовательными учреждениями, технопарками, бизнес-инкубаторами 
                и предприятиями, активно занимающимися творческими изысканиями по созданию инновационной продукции.</p>
              <p>Обеспечение промышленных предприятий востребованными кадрами.<br>
                ОАО ориентирует свою деятельность на тесное взаимодействие с образовательными учреждениями высшего 
                и среднего профессионального образования на базе долгосрочных договоров о сотрудничестве. 
                Инновационным производствам требуются работники с особыми навыками и умениями, которые можно 
                обрести, введя соответствующие коррективы в учебные планы и программы, организовав производственные 
                практики на конкретных рабочих местах и сориентировав научно-исследовательскую работу студентов на 
                решение задач по профилю предприятия, на котором они намерены трудиться. Предприятия со своей стороны 
                способны оплачивать стоимость обучения будущих или повышения квалификации действующих сотрудников.</p>
              <p>Продвижение продукции промышленных предприятий на рынках сбыта.<br>
                Маркетинговые исследования позволяют изучать конъюнктуру внутреннего и внешних рынков, потребности и 
                запросы потребителей продукции и выявить перспективные отрасли и предприятия, способные решать вопросы 
                импортозамещения и поставки выпускаемых товаров на экспорт.</p>
              <p>Создание промышленных кластеров.<br>
                К наиболее распространенным механизмам реализации государственной и региональной промышленной политики 
                относится кластерная политика, основной целью которой является диверсификация промышленности в 
                регионах, включая инновационные производства в машиностроении, электротехнике, электронике, фармацевтике, 
                химической промышленности и др., основанные на эффективном использовании внутренних ресурсов и сырья.</p>
              <p>Оснащение промышленных предприятий энергоресурсами, инженерной и транспортной инфраструктурой.<br>
                ОАО первостепенное внимание уделяет вопросам снижения себестоимости транспортных перевозок, улучшению 
                транспортных артерий в регионах и облегчению доступа к воде, системам канализации, электрификации и 
                газификации промышленных объектов.</p>
            </div>
          </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}