{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}About Company{% endblock page_title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Об обществе" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Об обществе" %}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" >
      <div class="container">

        <div class="row gy-4">
          <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "О НАС" %}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              {% translate "Основными направлениями промышленной политики, реализуемой ОАО являются:" %}
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> {% translate "Формирование благоприятного инвестиционного и предпринимательского климата." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Инновационно-технологическое развитие промышленности." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Обеспечение промышленных предприятий востребованными кадрами." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Продвижение продукции промышленных предприятий на рынках сбыта." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Создание промышленных кластеров." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Оснащение промышленных предприятий энергоресурсами, инженерной и транспортной инфраструктурой." %}</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              {% translate "Открытое акционерное общество (ОАО) «Кыргызиндустрия» создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его Уставном капитале. " %}
              {% translate "Учредителем и единственным акционером настоящего ОАО «Кыргызиндустрия» является Кабинет Министров Кыргызской Республики. Вместе с тем ОАО – коммерческая организация с юридическим статусом (обладает обособленным имуществом, имеет самостоятельный баланс, корреспондентские, расчетные, валютные и другие счета в банках Кыргызстана и за его пределами) ..." %}
            </p>
            <a href="{% url 'about_us_full_info' %}" class="btn-learn-more">{% translate "Узнать Больше" %}</a>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Руководство" %}</h2>
          <p>Президент</p>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4" style="margin:auto; width: 100%;" >
            <section id="team" class="team section-bg">
                <div class="container">
          
                    <div style="margin:auto; width: 23%" class="col-lg-3 col-md-6 d-flex align-items-stretch">
                      <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                          <img src="/{{president.picture}}" class="img-fluid" alt="">
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                        <div class="member-info">
                         <a href="{% url 'president' %}"><h4>{{president.full_name}}</h4></a>
                          <span>{{president.position}}</span>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
              </div>
           </section><!-- End Team Section -->
          </section> 
              <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Вице Президенты</h2>
        </div>

        <div class="row">
          {% for man in veep %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/{{man.picture}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{man.full_name}}</h4>
                <span>{{man.position}}</span>
              </div>
            </div>
            
          </div>
          {%endfor%}
        </div>

      </div>
    </section><!-- End Team Section -->

        <!-- ======= Features Section ======= -->
        <section id="activity" class="features">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>{% translate "Направления деятельности" %}</h2>
              <p>{% translate "Основными направлениями промышленной политики, реализуемой ОАО являются:" %}</p>
            </div>
    
            <div class="row" data-aos="fade-up" data-aos-delay="300">
              <div class="col-md-6 pb-4">
                <div class="icon-box">
                  <i class="ri-store-line" style="color: #ffbb2c;"></i>
                  <h3><a href="#">{% translate "производство технической, строительной и других видов продукции" %}</a></h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="icon-box">
                  <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                  <h3><a href="#">{% translate "производство товаров народного потребления" %}</a></h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="icon-box">
                  <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                  <h3><a href="#">{% translate "производство продуктов питания" %}</a></h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="icon-box">
                  <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                  <h3><a href="#">{% translate "полиграфические услуги, организации средств массовой информации" %}</a></h3>
                </div>
              </div>
            </div>
    
          </div>
        </section><!-- End Features Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="npa" class="portfolio-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4" style="margin: auto; width: 90%;">
            <div class="portfolio-info" style="text-align: center;">
              <h3>{% translate "Нормативно правовые акты"%}</h3>
              <p>{% translate "Типовой порядок организации и осуществления закупок государственными и муниципальными предприятиями, хозяйственными обществами, где 50 и более процентов доли участия в уставном капитале принадлежит государству, в том числе их дочерними хозяйственными обществами"%}</p>
              <p>
                
            </p>
            <a href="{% static 'documents/Типовой-порядок.pdf' %}" class="btn-learn-more">{% translate "Документ" %}</a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}