{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}About Company{% endblock page_title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        
        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Об обществе" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Об обществе" %}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" >
      <div class="container">

        <div class="row gy-4">
          <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "О НАС" %}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              {% translate "Основными направлениями промышленной политики, реализуемой ОАО являются:" %}
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> {% translate "Формирование благоприятного инвестиционного и предпринимательского климата." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Инновационно-технологическое развитие промышленности." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Обеспечение промышленных предприятий востребованными кадрами." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Продвижение продукции промышленных предприятий на рынках сбыта." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Создание промышленных кластеров." %}</li>
              <li><i class="ri-check-double-line"></i> {% translate "Оснащение промышленных предприятий энергоресурсами, инженерной и транспортной инфраструктурой." %}</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              {% translate "Открытое акционерное общество (ОАО) «Кыргызиндустрия» создано постановлением Кабинета Министров Кыргызской Республики за №341 от 24 декабря 2021 года со 100% участием государства в его Уставном капитале. " %}
              {% translate "Учредителем и единственным акционером настоящего ОАО «Кыргызиндустрия» является Кабинет Министров Кыргызской Республики. Вместе с тем ОАО – коммерческая организация с юридическим статусом (обладает обособленным имуществом, имеет самостоятельный баланс, корреспондентские, расчетные, валютные и другие счета в банках Кыргызстана и за его пределами) ..." %}
            </p>
            <a href="{% url 'about_us_full_info' %}" class="btn-learn-more">{% translate "Узнать Больше" %}</a>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Testimonials Section -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Наши Цели и Задачи" %}</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/investing.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Привлечение и стимулирование инвестиций" %}</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/commerce.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Оздоровление неплатежаспособных хозяйствующих субъектов" %}</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/company.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Создание современных предприятий" %}</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/teo.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Разработка ТЭО" %}</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/modernization.jpg' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Модернизация промышленности" %}</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'client/img/testimonials/activity.png' %}" class="testimonial-img" alt="">
                  <h3>{% translate "Стимулирование деятельности промышленных предприятий" %}</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> <!--Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>{% translate "Руководство" %}</h2>
          <p>Президент</p>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4" style="margin:auto; width: 100%;" >
            <section id="team" class="team section-bg">
                <div class="container">
          
                    <div style="margin:auto; width: 23%" class="col-lg-3 col-md-6 d-flex align-items-stretch">
                      <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                          <img src="{% static 'client/img/team/president.jpeg' %}" class="img-fluid" alt="">
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                        <div class="member-info">
                         <a href="{% url 'president' %}"><h4>{{president.full_name}}</h4></a>
                          <span>{{president.position}}</span>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
              </div>
           </section><!-- End Team Section -->
          </section> 
              <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Вице Президенты</h2>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            {% for man in management %}
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'client/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{man.full_name}}</h4>
                <span>{{man.position}}</span>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="npa" class="portfolio-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4" style="margin: auto; width: 90%;">
            <div class="portfolio-info" style="text-align: center;">
              <h3>{% translate "Нормативно правовые акты"%}</h3>
              <p>{% translate "Типовой порядок организации и осуществления закупок государственными и муниципальными предприятиями, хозяйственными обществами, где 50 и более процентов доли участия в уставном капитале принадлежит государству, в том числе их дочерними хозяйственными обществами"%}</p>
              <p>
                
            </p>
            <a href="{% static 'documents/Типовой-порядок.pdf' %}" class="btn-learn-more">{% translate "Документ" %}</a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

    <!-- ======= Services Section ======= -->
<section id="contests" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>{% translate "Вакансии" %}</h2>
    </div>

    <div class="row">
      {% for vacancy in currunt_page_vacancies %}
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="ri-currency-line"></i></div>
          <h4 class="title"><a href="{% url 'vacancy_detail' vacancy.title %}">{{ vacancy.title }}</a></h4>
          <p class="description">{{ vacancy.position }}</p>
          <p class="description">{{ vacancy.salary }} сом</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="d-flex mt-4 flex-wrap justify-content-center">
    <nav class="ml-auto">
      <ul class="pagination separated pagination-info">
        {% if currunt_page_vacancies.has_previous %}
          <li class="page-item">
            <a href="/page_vacancies/{{ currunt_page_vacancies.previous_page_number }}/" class="page-link">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a href="" class="page-link">&laquo;</a>
          </li>
        {% endif %}
        {% for page in currunt_page_vacancies.paginator.page_range %}
          {% if page == currunt_page_vacancies.number %}
            <li class="page-item active">
              <a href="/page_vacancies/{{ page }}/" class="page-link">{{ page }}</a>
            </li>
          {% else %}
            <li>
              <a href="/page_vacancies/{{ page }}/" class="page-link">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if currunt_page_vacancies.has_next %}
          <li class="page-item">
            <a href="/page_vacancies/{{ currunt_page_vacancies.next_page_number }}/" class="page-link">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">         
            <a href="" class="page-link">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
</div>
</section><!-- End Services Section -->

  </main><!-- End #main -->

{% endblock content %}