{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}Блоки{% endblock page_title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Направление внешнеэкономических связей и торговли ОАО" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="block-details" class="block-details" >
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4" style="margin:auto; width: 90%;" >
            <div class="block-info">
              <p style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "Направление внешнеэкономических связей и торговли ОАО" %}</strong>{% translate "поддерживает" %}<span style="background-color:white">{% translate "хозяйственную деятельность совместных предприятий ОАО путем поиска потенциальных инвесторов международного уровня." %}</span></span></span></span></p>

              <p style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "Работа данного направления включает следующие виды деятельности" %}</strong>:</span></span></span></p>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>управленческие</strong>: лизинговая и лицензионная поддержка предприятий, повышение инвестиционной привлекательности совместных предприятий ОАО;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "аналитические" %}</strong>: {% translate "разработка перспективных прогнозов по товарам (услугам) на внешних рынках, оценка состояния и перспектив внешнеэкономических связей на базе анализа и прогноза мировой экономической конъюнктуры, ведение внешнеэкономической статистики и анализ эффективности внешнеэкономической деятельности, разработка мер по повышению ее уровня;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "организационные" %}</strong>: {% translate "проведение выставок, конференций и бизнес-форумов, международно-правовое сопровождение деятельности совместных предприятий ОАО, протоколирование деловых встреч и церемоний подписания контрактов с зарубежными партнерами (в том числе визитов за рубеж)." %}</span></span></span></li>
              </ul>
              
              <p style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "В ходе выполнения указанных видов деятельности решаются следующие основные задачи" %}</strong>:</span></span></span></p>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "поиск инвесторов и обеспечение гарантий их деятельности, подписание соглашений о их привлечении к реализации инновационных проектов" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "реализация программ и мероприятий по созданию условий, способствующих привлечению и повышению эффективности внешних инвестиций;" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "подготовка проектов международных договоров, контрактов, соглашений и меморандумов совместных предприятий ОАО и их правовая экспертиза;" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "оказание рекламных, информационных и прочих услуг по продвижению товаров совместных предприятий ОАО;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "менеджмент выставочной деятельности, организационные вопросы по местам, срокам и датам проведения выставок, конференций и бизнес-форумов;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "представление интересов совместных предприятий ОАО в международных организациях;" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "защита прав ОАО в международных арбитражных судах (если необходимо);" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "содействие производственной кооперации совместных предприятий ОАО с иностранными партнерами на принципах технологического разделения труда;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "участие в переговорных процессах с компаниями и торговыми представительствами иностранных государств, посольствами Кыргызстана за рубежом, иностранными посольствами, аккредитованными в Бишкеке, секретариатами ЕАЭК, ВТО и других международных организаций." %}</span></span></span></li>
              </ul>
              
              <p style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "Показателями эффективности работы направления является положительная динамика в" %}</strong>:</span></span></span></p>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "общем объеме привлеченных иностранных инвестиций;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "количестве и уровне выставок, конференций и бизнес-форумов;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="font-size:20px"><span style="color:#000000"><span style="font-family:Times New Roman,Times,serif">{% translate "количестве договоров, контрактов, соглашений и меморандумов с иностранными партнерами." %}</span></span></span></li>
              </ul>
              
            </div>
          </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}