{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}Блоки{% endblock page_title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Направление руководителя аппарата ОАО" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="block-details" class="block-details" >
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4" style="margin:auto; width: 90%;" >
            <div class="block-info">
              <p style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "Направление руководителя аппарата ОАО "%} </strong>{% translate "обеспечивает достойные условия для выполнения функциональных обязанностей работников аппарата." %}</span></span></span></p>

              <p style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "Работа данного направления включает следующие виды деятельности" %}</strong>:</span></span></span></p>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "управленческие" %}</strong>:{% translate "правовая поддержка работников аппарата ОАО, повышение квалификации и переобучение сотрудников, перспективное планирование деятельности ОАО и непрерывный мониторинг исполнения мероприятий;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "аналитические" %}</strong>: {% translate "анализ эффективности работы сотрудников и принятие конкретных мер по повышению их отдачи;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "организационные" %}</strong>: {% translate "организация еженедельных аппаратных совещаний сотрудников и мониторинг реализации принятых решений, организация культурно-массовых и общественных мероприятий, посвященных знаменательным датам." %}</span></span></span></li>
              </ul>
              
              <p style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "В ходе выполнения указанных видов деятельности решаются следующие основные задачи" %}</strong>:</span></span></span></p>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "обеспечение сотрудников аппарата ОАО необходимым инвентарем, техникой, канцелярскими товарами и прочими материалами для выполнения должностных обязанностей;" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "повышение трудовой и исполнительской дисциплины, а также ответственности сотрудников за порученный участок деятельности;" %}</span></span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><span style="background-color:white">{% translate "оптимизация затрат на содержание и обеспечение деятельности аппарата ОАО." %}</span></span></span></span></li>
              </ul>
              
              <p style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif"><strong>{% translate "Показателями эффективности работы направления является положительная динамика в" %}</strong>:</span></span></span></p>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif">{% translate "укреплении трудовой и исполнительской дисциплины;" %}</span></span></span></li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif">{% translate "удельном весе сотрудников, повысивших свою квалификацию;" %}</span></span></span><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif">​​​​​​​</span></span></span>​​​​​​​</li>
              </ul>
              
              <ul>
                <li style="text-align:justify"><span style="color:#000000"><span style="font-size:20px"><span style="font-family:Times New Roman,Times,serif">{% translate "снижении суммарных затрат на содержание аппарата ОАО." %}</span></span></span></li>
              </ul>
              
            </div>
          </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}