{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Архив конкурсов" %}{% endblock page_title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Конкурсы" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Конкурсы"%}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="contests" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>{% translate "Архив конкурсов" %}</h2>
          </div>
          <div class="row">
            {% for contest in contest_page %}
            <div class="col-md-6 col-lg-4 mb-3">
              <div class="icon-box h-100" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">{{ contest.Status }}</a></h4>
                <p class="description">{{ contest.Short_Description }}</p>
                <div class="read-more"><a href="/{{contest.Document }}">
                  <i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="section-title" data-aos="fade-up">
              <h4>{% translate "Нет конкурсов" %}</h4>
            </div>
            {% endfor %}
          </div>
        </div>
        {% if page_num > 1 %}
           <div class="d-flex mt-4 flex-wrap justify-content-center">
               <nav class="ml-auto">
                 <ul class="pagination separated pagination-info" data-aos="fade-up">
                    <!-- Если Есть Предыдущая страница-->
                   {% if contest_page.has_previous %}
                     <li class="page-item">
                       <a href="?&page={{contest_page.previous_page_number}}" class="page-link">&laquo;</a>
                     </li>
                   {% else %}
                     <li class="page-item disabled">
                       <a href="" class="page-link">&laquo;</a>
                     </li>
                   {% endif %}
                     <!-- Если номер текущей странцы больше чем 3-->
                     {% if contest_page.number > 3%}
                     <li class="page-item">
                       <a class="page-link" href="?&page=1">1</a>
                      </li>
                         <!-- Если количество странцы больше чем 4-->
                         {% if contest_page.number > 4 %}
                         <li class="page-item">
                           <a class="page-link">...</a>
                         </li>
                         {% endif %}
                     {% endif %}
 
                   {% for page in contest_page.paginator.page_range  %}
                     {% if contest_page.number  == page %}
                     <li class="page-item {% if page == contest_page.number %}active{% endif %}">
                       <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                     </li>
                    {% elif page > contest_page.number|add:'-3' and page < contest_page.number|add:'3' %}
                    <li class="page-item {% if page == news_page.number %}active{% endif %}">
                     <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                   </li>
                     {% endif %}
                   {% endfor %}
                   {% if contest_page.has_next %}
 
                   {% comment %}номер текущей стр - contest_page.number {% endcomment %}
                   {% if contest_page.number < contest_page.paginator.num_pages|add:'-3' %}
                     <li class="page-item">
                       <a class="page-link">...</a>
                     </li>
                       <li class="page-item">
                         <a href="?&page={{ contest_page.paginator.num_pages }}" class="page-link">{{ contest_page.paginator.num_pages }}</a>
                       </li>
                     {% elif contest_page.number < contest_page.paginator.num_pages|add:'-2' %}
                     <li class="page-item">
                           <a href="?page={{ contest_page.paginator.num_pages }}" class="page-link">{{ contest_page.paginator.num_pages }}</a>
                     </li>
                     
                     {% endif %}
                     <li class="page-item">
                       <a href="?&page={{contest_page.next_page_number}}" class="page-link">&raquo;</a>
                     </li>
                     {% else %}
                       <li class="page-item disabled">         
                         <a href="" class="page-link">&raquo;</a>
                       </li>
                     {% endif %}
                 </ul>
               </nav>
            </div>
         {% endif %}
        
      </section><!-- End Services Section -->

    </main><!-- End #main -->

{% endblock content %}