{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Фотогалерея" %}{% endblock page_title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Фотогалерея" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Фотогалерея"%}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">{% translate "Все" %}</li>
            <li data-filter=".filter-app">{% translate "Новости" %}</li>
            <li data-filter=".filter-card">{% translate "Проекты" %}</li>
            <li data-filter=".filter-web">{% translate "Другое" %}</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

        {% for value in news_photo %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/{{ value.URL }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ value.Caption }}</h4>
              <p>{{ value.title }}</p>
              <div class="portfolio-links">
                <a href="/{{ value.URL }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ value.Caption }}"><i class='bx bx-collapse-alt'></i></a>
                <a href="" title="More Details"><i class='bx bx-right-arrow-alt'></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      {% if gallery_page %}
    <div class="d-flex mt-4 flex-wrap justify-content-center">
              <nav class="ml-auto">
                <ul class="pagination separated pagination-info">
                  {% if gallery_page.has_previous %}
                    <li class="page-item">
                      <a href="/gallery_page/{{ gallery_page.previous_page_number }}/" class="page-link">&laquo;</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a href="" class="page-link">&laquo;</a>
                    </li>
                  {% endif %}
                  {% for page in gallery_page.paginator.page_range %}
                    {% if page == gallery_page.number %}
                      <li class="page-item active">
                        <a href="/gallery_page/{{ page }}/" class="page-link">{{ page }}</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="/gallery_page/{{ page }}/" class="page-link">{{ page }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if gallery_page.has_next %}
                    <li class="page-item">
                      <a href="/gallery_page/{{ gallery_page.next_page_number }}/" class="page-link">&raquo;</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">         
                      <a href="" class="page-link">&raquo;</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
    </div>
    {% endif %}

    </div>
  </section><!-- End Portfolio Section -->

</main><!-- End #main -->

{% endblock content %}