{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Главные События" %}{% endblock page_title %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Новости" %}</h2>
          <ol>
            <li><a href="{% url 'index' %}">{% translate "Главная" %}</a></li>
            <li>{% translate "Новости"%}</li>
          </ol>
        </div>
      </div>
    </section>
    <section id="more-services" class="more-services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>{% translate "Архив Главных Событий" %}</h2>
      </div>
              <div class="row">
                {% if error %}
                <div class="section-title" data-aos="fade-up">
                    <h4>{% translate "Возникла Ошибка!" %}</h4>
                    <h5>{% translate "Причина этой ошибки: <span class='text-danger'> В одной или несколько галереи не загружено фотография! Добавьте Фотографию под Галереи </span> " %}</h5>
                    <a href="{% url 'index' %}">Перейти на главную</a>
                </div>
                {% else %}
                {% for value, img in all_news %}
                <div class="col-md-6 d-flex align-items-stretch mt-3">
                  <div class="card" style='background-image: url("/{{img}}");' data-aos="fade-up" data-aos-delay="100">
                  <div class="card-body">
                      <h5 class="card-title"><a href="">{{ value.title }}</a></h5>
                      <p class="card-text">{{ value.short_description }}</p>
                    <div class="read-more"><a href="{% url 'hot_news_detail' value.title %}">
                      <i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
            <div class="section-title" data-aos="fade-up">
              <h4>{% translate "Нет новостей" %}</h4>
            </div>
                {% endfor %}
            {% endif%}
            </div>
    </div>


    <!-- Если Есть пагинация-->
    {% if page_num > 1 and not error %}
    <div class="d-flex mt-4 flex-wrap justify-content-center">
              <nav class="ml-auto">
                <ul class="pagination separated pagination-info" data-aos="fade-up">
                   <!-- Если Есть Предыдущая страница-->
                  {% if news_page.has_previous %}
                    <li class="page-item">
                      <a href="?&page={{news_page.previous_page_number}}" class="page-link">&laquo;</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a href="" class="page-link">&laquo;</a>
                    </li>
                  {% endif %}
                    <!-- Если номер текущей странцы больше чем 3-->
                    {% if news_page.number > 3%}
                    <li class="page-item">
                      <a class="page-link" href="?&page=1">1</a>
                     </li>
                        <!-- Если количество странцы больше чем 4-->
                        {% if news_page.number > 4 %}
                        <li class="page-item">
                          <a class="page-link">...</a>
                        </li>
                        {% endif %}
                    {% endif %}

                  {% for page in news_page.paginator.page_range  %}
                    {% if news_page.number  == page %}
                    <li class="page-item {% if page == news_page.number %}active{% endif %}">
                      <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                    </li>
                   {% elif page > news_page.number|add:'-3' and page < news_page.number|add:'3' %}
                   <li class="page-item {% if page == news_page.number %}active{% endif %}">
                    <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                  </li>
                    {% endif %}
                  {% endfor %}
                  {% if news_page.has_next %}

                  {% comment %}номер текущей стр - news_page.number {% endcomment %}
                  {% if news_page.number < news_page.paginator.num_pages|add:'-3' %}
                    <li class="page-item">
                      <a class="page-link">...</a>
                    </li>
                      <li class="page-item">
                        <a href="?&page={{ news_page.paginator.num_pages }}" class="page-link">{{ news_page.paginator.num_pages }}</a>
                      </li>
                    {% elif news_page.number < news_page.paginator.num_pages|add:'-2' %}
                    <li class="page-item">
                          <a href="?page={{ news_page.paginator.num_pages }}" class="page-link">{{ news_page.paginator.num_pages }}</a>
                    </li>
                    
                    {% endif %}
                    <li class="page-item">
                      <a href="?&page={{news_page.next_page_number}}" class="page-link">&raquo;</a>
                    </li>
                    {% else %}
                      <li class="page-item disabled">         
                        <a href="" class="page-link">&raquo;</a>
                      </li>
                    {% endif %}
                </ul>
              </nav>
    </div>
    {% endif %}
    </section>
</main>

{% endblock content %}