{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Фотогалерея" %}{% endblock page_title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Интервью" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Интервью"%}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        {% for value in all_interviews %}
           {{value.link|safe}}
        {% endfor %}

       
       <!-- Если Есть пагинация-->
     {% if page_num > 1 and not error %}
     <div class="d-flex mt-4 flex-wrap justify-content-center">
               <nav class="ml-auto">
                 <ul class="pagination separated pagination-info" data-aos="fade-up">
                    <!-- Если Есть Предыдущая страница-->
                   {% if posts.has_previous %}
                     <li class="page-item">
                       <a href="?&page={{posts.previous_page_number}}" class="page-link">&laquo;</a>
                     </li>
                   {% else %}
                     <li class="page-item disabled">
                       <a href="" class="page-link">&laquo;</a>
                     </li>
                   {% endif %}
                     <!-- Если номер текущей странцы больше чем 3-->
                     {% if posts.number > 3%}
                     <li class="page-item">
                       <a class="page-link" href="?&page=1">1</a>
                      </li>
                         <!-- Если количество странцы больше чем 4-->
                         {% if posts.number > 4 %}
                         <li class="page-item">
                           <a class="page-link">...</a>
                         </li>
                         {% endif %}
                     {% endif %}
 
                   {% for page in posts.paginator.page_range  %}
                     {% if posts.number  == page %}
                     <li class="page-item {% if page == posts.number %}active{% endif %}">
                       <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                     </li>
                    {% elif page > posts.number|add:'-3' and page < posts.number|add:'3' %}
                    <li class="page-item {% if page == posts.number %}active{% endif %}">
                     <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                   </li>
                     {% endif %}
                   {% endfor %}
                   {% if posts.has_next %}
 
                   {% comment %}номер текущей стр - posts.number {% endcomment %}
                   {% if posts.number < posts.paginator.num_pages|add:'-3' %}
                     <li class="page-item">
                       <a class="page-link">...</a>
                     </li>
                       <li class="page-item">
                         <a href="?&page={{ posts.paginator.num_pages }}" class="page-link">{{ posts.paginator.num_pages }}</a>
                       </li>
                     {% elif posts.number < posts.paginator.num_pages|add:'-2' %}
                     <li class="page-item">
                           <a href="?page={{ posts.paginator.num_pages }}" class="page-link">{{ posts.paginator.num_pages }}</a>
                     </li>
                     
                     {% endif %}
                     <li class="page-item">
                       <a href="?&page={{posts.next_page_number}}" class="page-link">&raquo;</a>
                     </li>
                     {% else %}
                       <li class="page-item disabled">         
                         <a href="" class="page-link">&raquo;</a>
                       </li>
                     {% endif %}
                 </ul>
               </nav>
     </div>
    {% endif %}

    </div>
  </section><!-- End Portfolio Section -->

</main><!-- End #main -->


{% endblock content %}

{% block custom_js%}
<script src="{% static 'client/vendor/jquery/jquery.min.js' %}"></script>

<script>
  $(document).ready(function(){
    $('iframe').width(420);
    $('iframe').height(320);
  })
</script>
{% endblock custom_js%}
