{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Фотогалерея" %}{% endblock page_title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Интервью" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Интервью"%}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

        {% for value in currunt_page_interview %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/{{ value.URL }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ value.Caption }}</h4>
              <p>{{ value.title }}</p>
              <div class="portfolio-links">
                <a href="/{{ value.URL }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ value.Caption }}"><i class='bx bx-collapse-alt'></i></a>
                <a href="" title="More Details"><i class='bx bx-right-arrow-alt'></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      {% if currunt_page_interview %}
    <div class="d-flex mt-4 flex-wrap justify-content-center">
              <nav class="ml-auto">
                <ul class="pagination separated pagination-info">
                  {% if currunt_page_interview.has_previous %}
                    <li class="page-item">
                      <a href="/currunt_page_interview/{{ currunt_page_interview.previous_page_number }}/" class="page-link">&laquo;</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a href="" class="page-link">&laquo;</a>
                    </li>
                  {% endif %}
                  {% for page in currunt_page_interview.paginator.page_range %}
                    {% if page == currunt_page_interview.number %}
                      <li class="page-item active">
                        <a href="/currunt_page_interview/{{ page }}/" class="page-link">{{ page }}</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="/currunt_page_interview/{{ page }}/" class="page-link">{{ page }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if currunt_page_interview.has_next %}
                    <li class="page-item">
                      <a href="/gallery_page/{{ currunt_page_interview.next_page_number }}/" class="page-link">&raquo;</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">         
                      <a href="" class="page-link">&raquo;</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
    </div>
    {% endif %}

    </div>
  </section><!-- End Portfolio Section -->

</main><!-- End #main -->

{% endblock content %}