{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Абдураимов Жарасул Осмоналиевич" %}{% endblock page_title %}



{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Руководство" %}</h2>
          <ol>
            <li><a href="{% url 'index'%}">Главная</a></li>
            <li>{{president.full_name}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="col-lg-8" style="margin:auto; width: 40%; height: 20%;">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static '{{president.picture}}' %}" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

        <div class="row gy-4">

          <div class="col-lg-4" style="margin:auto; margin-top: 5%; width: 90%;">
            <div class="portfolio-info">
              <h3>{{president.full_name}}</h3>
              <ul>
                <li><strong>{% translate "Должность" %}</strong>: {{president.position}}</li>
                <li><strong>{% translate "Дата рождения" %}</strong>: {{president.date_birth}}</li>
                <li><strong>{% translate "Гражданство" %}</strong>: Кыргызское</li>
                <li><strong>{% translate "Образования" %}</strong>: {{president.education}}</li>
                <li><strong>{% translate "Специальность" %}</strong>: {{president.speciality}}</li>
              </ul>
            </div>

            <div class="portfolio-info">
                <h2>{% translate "Биография:" %}</h2>
              <p>
                {{ president.about|safe }}
              </p>
              </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->



  {% endblock content %}