{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Пресс-релизы" %}{% endblock page_title %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex align-items-stretch">
          <ol>
            <li><a href="{% url 'index' %}">{% translate "Главная" %}</a></li>
            <li>{% translate "Новости"%}</li>
          </ol>
          <form class="search-form">
            <input class="form-control mr-sm-2" name="search" action="{% url 'reports' %}" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-dark"><i class="bi bi-search"></i></button>
            <button class="btn btn-outline-danger"><i class="bi bi-arrow-counterclockwise"></i><a href="{% url 'news' %}"></a></button>
          </form>
        </div>
      </div>
    </section>
    <section id="more-services" class="more-services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>{% translate "Архив проектов" %}</h2>
      </div>
      
              <div class="row">
              {% if not error %}
                {% for value, img in all_projects %}
                  <div class="col-md-6 d-flex align-items-stretch mt-3">
                    <div class="card" style='background-image: url("/{{img}}");' data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">{{ value.Title }}</a></h5>
                        <p class="card-text">{{ value.Short_Description }}</p>
                      <div class="read-more"><a href="{% url 'project_detail' value.Title %}">
                        <i class="bi bi-arrow-right"></i> {% translate "Читать" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="section-title" data-aos="fade-up">
                  <h4>{% translate "Нет проектов" %}</h4>
                </div>
                {% endfor %}
            {% else %}
              <div class="section-title" data-aos="fade-up">
                <h5 class="text-danger">{% translate "Ошибка: В какой-то галереи не добавлены не одной фотографии" %}</h5>
              </div>
            {% endif %}
            </div>
    </div>
    
     <!-- Если Есть пагинация-->
     {% if page_num > 1 and not error %}
     <div class="d-flex mt-4 flex-wrap justify-content-center">
               <nav class="ml-auto">
                 <ul class="pagination separated pagination-info" data-aos="fade-up">
                    <!-- Если Есть Предыдущая страница-->
                   {% if projects_page.has_previous %}
                     <li class="page-item">
                       <a href="?&page={{projects_page.previous_page_number}}" class="page-link">&laquo;</a>
                     </li>
                   {% else %}
                     <li class="page-item disabled">
                       <a href="" class="page-link">&laquo;</a>
                     </li>
                   {% endif %}
                     <!-- Если номер текущей странцы больше чем 3-->
                     {% if projects_page.number > 3%}
                     <li class="page-item">
                       <a class="page-link" href="?&page=1">1</a>
                      </li>
                         <!-- Если количество странцы больше чем 4-->
                         {% if projects_page.number > 4 %}
                         <li class="page-item">
                           <a class="page-link">...</a>
                         </li>
                         {% endif %}
                     {% endif %}
 
                   {% for page in projects_page.paginator.page_range  %}
                     {% if projects_page.number  == page %}
                     <li class="page-item {% if page == projects_page.number %}active{% endif %}">
                       <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                     </li>
                    {% elif page > projects_page.number|add:'-3' and page < projects_page.number|add:'3' %}
                    <li class="page-item {% if page == news_page.number %}active{% endif %}">
                     <a href="?&page={{ page }}" class="page-link">{{ page }}</a>
                   </li>
                     {% endif %}
                   {% endfor %}
                   {% if projects_page.has_next %}
 
                   {% comment %}номер текущей стр - projects_page.number {% endcomment %}
                   {% if projects_page.number < projects_page.paginator.num_pages|add:'-3' %}
                     <li class="page-item">
                       <a class="page-link">...</a>
                     </li>
                       <li class="page-item">
                         <a href="?&page={{ projects_page.paginator.num_pages }}" class="page-link">{{ projects_page.paginator.num_pages }}</a>
                       </li>
                     {% elif projects_page.number < projects_page.paginator.num_pages|add:'-2' %}
                     <li class="page-item">
                           <a href="?page={{ projects_page.paginator.num_pages }}" class="page-link">{{ projects_page.paginator.num_pages }}</a>
                     </li>
                     
                     {% endif %}
                     <li class="page-item">
                       <a href="?&page={{projects_page.next_page_number}}" class="page-link">&raquo;</a>
                     </li>
                     {% else %}
                       <li class="page-item disabled">         
                         <a href="" class="page-link">&raquo;</a>
                       </li>
                     {% endif %}
                 </ul>
               </nav>
     </div>
     {% endif %}
    </section>
</main>

{% endblock content %}