{% extends 'client/base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}Отчеты и результаты{% endblock page_title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'index'%}">{% translate "Главная" %}</a></li>
            <li>{% translate "Отчеты и результаты" %}</li>
          </ol>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" action="{% url 'reports' %}" type="search" placeholder="Поиск" aria-label="Search">

          </form>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    {% for value in reports_all %}
    <section id="npa" class="portfolio-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4" style="margin: auto; width: 90%;">
            <div class="portfolio-info" style="text-align: center;">
              <h3>{{value.title}}</h3>
              <p>{{value.short_description}}</p>
              <a href="/{{value.url}}" class="btn-learn-more">{% translate "Документ" %}</a>
            </div>
          </div>
        </div>

      </div>
      {% empty %}
      <section id="npa" class="portfolio-details"></section>
      <div class="container">
        <div class="row gy-4 mb-5">
          <div class="col-lg-4" style="margin: auto; width: 90%;">
            <div class="portfolio-info" style="text-align: center;">
              <h3>{% translate "Нет таких данных!" %}</h3>
            </div>
          </div>
        </div>
      {%endfor%}
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}