
{% extends 'client/base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Detail{% endblock page_title %}



{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% translate "Карта Сайта" %}</h2>
          <ol>
            <li><a href="{% url 'index' %}">{% translate "Главная" %}</a></li>
            <li>{% translate "Карта Сайта" %}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <ul>
          <li><a href="{% url 'about_company' %}">{% translate "О нас" %}</a></li>
          <ul>
            <li><a href="{% url 'about_company' %}">{% translate "Об обществе" %}</a></li>
            <li><a href="{% url 'index' %}#team">{% translate "Руководство" %}</a></li>
            <li><a href="#about">{% translate "Блоки" %}</a></li>
            <li><a href="#clients">{% translate "Наши пратнеры" %}</a></li>
            <li><a href="#about">{% translate "Нормативно-правовая база" %}</a></li>
            <li><a href="#about">{% translate "Вакансии" %}</a></li>
          </ul>
        </ul>

        <ul>
            <li><a href="#">{% translate "Инвесторам и партнерам" %}</a></li>
            <ul>
              <li><a href="#goals">{% translate "Инвестиционный кейс" %}</a></li>
              <li><a href="#team">{% translate "Стратегия развития" %}</a></li>
              <li><a href="{% url 'index' %}#portfolio">{% translate "Проекты и презентации" %}</a></li>
              <li><a href="#about">{% translate "Отчеты и результаты" %}</a></li>
            </ul>
        </ul>

        <ul>
          <li><a href="#">{% translate "Пресс-центр" %}</a></li>
          <ul>
            <li><a href="{% url 'index' %}#more-services">{% translate "Пресс-релизы (новости)" %}</a></li>
            <li><a href="#team">{% translate "Интервью" %}</a></li>
            <li><a href="{% url 'gallery' %}">{% translate "Фотогалерея" %}</a></li>
            <li><a href="#about">{% translate "Брифинг" %}</a></li>
          </ul>
      </ul>

      <ul>
        <li><a href="#">{% translate "Пресс-центр" %}</a></li>
        <ul>
          <li><a href="{% url 'index' %}#contests">{% translate "Конкурсы" %}</a></li>
          <li><a href="{% url 'contests' %}">{% translate "Архив конкурсов" %}</a></li>
        </ul>
      </ul>

      <ul>
        <li><a href="#">{% translate "Контакты" %}</a></li>
      </ul>
      </div>
    </section>
  </main>
{% endblock content %}